.section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}
.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 4rem;
}
.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    -moz-column-gap: 4rem;
    column-gap: 4rem;
}
.about__img {
    width: 350px;
    border-right: 1.5rem;
    justify-self: center;
    border-radius: .5rem;
}
.about__info {
    grid-template-columns: repeat(3, 140px);
    gap: 0rem;
    margin-bottom: var(--mb-2);
}
.about__box {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}
.about__icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}
.about__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}
.about__subtitle {
    font-size: var(--tiny-font-size);
}
.about__description {
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
}
.button {
    display: flex;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    background-color: var(--title-color);
    color: var(--container-color);
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
}
.about__download-btn {
    display: flex;
    align-items: center;
}
.button__icon {
    margin-left: var(--mb-0-5);
}
@media (max-width: 767.98px)  {
    .about__container{
        flex-direction: column;
    }
    .about__data{
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: contents;
    }
    .about__description{
        padding: 0rem;
    }
}