.section__title {
    font-size: var(--h1-font-size);
    text-align: center;
    color: var(--title-color);
}
.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 4rem;
    text-align: center;
}
.contact__container {
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
    display: flex;
    padding-bottom: 3rem;
}
.contact__title {
    text-align: center;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}
.contact__info {
    display: grid;
    grid-row-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: 300px;
}
.contact__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    text-align: center;
}
.contact__card-icon {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: var(--mb-0-25);
}
.contact__card-data, .contact__card-title {
    font-size: var(--small-font-size);
}
.contact__card-data {
    display: block;
    margin-bottom: var(--mb-0-75);
}
.contact__card-data, .contact__card-title {
    font-size: var(--small-font-size);
}
.contact__button {
    color: var(--text-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: .25rem;
    column-gap: .25rem;
}
a {
    text-decoration: none;
}
.contact__button-icon {
    display: flex;
    font-size: 1rem;
    transition: .3s;
}
.contact__form {
    width: 360px;
}
.contact__form-div {
    position: relative;
    margin-bottom: var(--mb-2);
    height: 4rem;
}
.contact__form-tag {
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: .25rem;
    background-color: var(--body-color);
    z-index: 10;
}
.contact__form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, .3);
    background: none;
    color: var(--text-color);
    outline: none;
    border-radius: .75rem;
    padding: 1.5rem;
    z-index: 1;
}
.contact__form-area {
    height: 11rem;
}
.button {
    display: flex;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    background-color: var(--title-color);
    color: var(--container-color);
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
}
.button__icon {
    margin-left: var(--mb-0-5);
}
@media (max-width: 767.98px)  {
    .contact__form{
        width: 100%;
    }
    .contact__container{
        column-gap: 1rem !important;
    }
    .contact__content{
        width: 50% !important;
    }
}
@media (max-width: 680.98px)  {
    .contact__container{
        column-gap: 1rem !important;
        flex-direction: column;
    }
    .contact__content{
        margin-bottom: 1rem;
        width: 100% !important;
    }
    .contact__info{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .contact__card {
        width: 160px;
    }
    .contact__card-data {
        display: inline-block;
        max-width: 100%;         /* Ensures the element respects the width */
        white-space: nowrap;      /* Prevents text from wrapping */
        overflow: hidden;         /* Hides overflowed text */
        text-overflow: ellipsis;  /* Adds the ellipsis at the end */
      }
      
}

@media (max-width: 595px)  {
    .contact__info{
        display: flex;
        flex-direction: column;
    }
    .contact__card {
        width: 100%;
    }
}

