<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light pl-0 pr-0 justify-content-between">
    <a class="navbar-brand" href="#home">Zeshan Amir</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-4 active">
          <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link" href="#skills">Skills</a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link" href="#qualification">Qualification</a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link" href="#portfolio">My Works</a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link" href="#testimonial">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contacts</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="main-sections">
    <app-home-section></app-home-section>
    <app-about-section></app-about-section>
    <app-skills-section></app-skills-section>
    <app-qualification-section></app-qualification-section>
    <app-works-section></app-works-section>
    <app-testimonials-section></app-testimonials-section>
    <app-contact-section></app-contact-section>
  </div>
</div>
<app-footer-section></app-footer-section>