.home__social-icon {
    font-size: 1.25rem;
    color: var(--title-color);
    text-decoration: none;
}

.home__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-25);
    font-weight: 600;
    margin-right: 8px;
    svg{
        padding-left: 5px;
    }
}
.home__scroll-button {
    color: var(--title-color) !important;
    font-weight: var(--font-medium) !important;
    margin-right: var(--mb-0-25) !important;
    margin-left: 2px !important;
}
.home__subtitle {
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 5.4rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}

.home__description {
    max-width: 400px;
    margin-bottom: var(--mb-3);
}

.home__subtitle:before {
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}

.button {
    display: flex;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    background-color: var(--title-color);
    color: var(--container-color);
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
    text-decoration: none;
}

.home__img {
    background: url('../../../assets/Pictures/DeWatermark.ai_1725739156930-removebg-preview.png');
    background-repeat: no-repeat !important;
    background-position: 50% !important;
    background-size: cover !important;
    box-shadow: inset 0 0 0 15px hsl(0deg 4.67% 79.85%) !important;
    order: 1 !important;
    justify-self: center !important;
    width: 300px !important;
    height: 300px !important;
    -webkit-animation: profile__animate 8s ease-in-out 1s infinite !important;
    animation: profile__animate 8s ease-in-out 1s infinite !important;
}

.home__scroll-button {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2%;
    padding-left: 15%;
    color: black;
    padding-bottom: 4%;
}

@-webkit-keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}