<section class="work section" id="portfolio">
    <h2 class="section__title">Recent Works</h2><span class="section__subtitle">My Portfolio</span>

    <div class="work__container container grid">
        <div class="work__card" style="opacity: 1;">
            <img src="../../../assets/Pictures/DeWatermark.ai_1725739156930-removebg-preview.png" alt=""
                class="work__img">
            <h3 class="work__title">The Cloud City Metaverse</h3>
            <span class="work__button" data-toggle="modal" data-target="#exampleModalCenter">Demo</span>
        </div>
        <div class="work__card" style="opacity: 1;">
            <img src="../../../assets/Pictures/DeWatermark.ai_1725739156930-removebg-preview.png" alt=""
                class="work__img">
            <h3 class="work__title">The Cloud City Metaverse</h3>
            <span class="work__button" data-toggle="modal" data-target="#exampleModalCenter">Demo</span>
        </div>
        <div class="work__card" style="opacity: 1;">
            <img src="../../../assets/Pictures/DeWatermark.ai_1725739156930-removebg-preview.png" alt=""
                class="work__img">
            <h3 class="work__title">The Cloud City Metaverse</h3>
            <span class="work__button" data-toggle="modal" data-target="#exampleModalCenter">Demo</span>
        </div>
        <div class="work__card" style="opacity: 1;">
            <img src="../../../assets/Pictures/DeWatermark.ai_1725739156930-removebg-preview.png" alt=""
                class="work__img">
            <h3 class="work__title">The Cloud City Metaverse</h3>
            <span class="work__button" data-toggle="modal" data-target="#exampleModalCenter">Demo</span>
        </div>

      


        <!-- Button trigger modal -->

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle modal-xl" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body d-flex w-100 justify-content-between">
                        <div> 
                            <img src="../../../assets/Pictures/DeWatermark.ai_1725739156930-removebg-preview.png"
                                alt="" class="img-fluid mb-3">
                        </div>
                        <div>
                            <p>Cloud City Metaverse involves all the upcoming updates and events of our metaverse...</p>
                            <ul class="details__info">
                                <li>Created - <span>4 Dec 2020</span></li>
                                <li>Technologies - <span>HTML, CSS</span></li>
                                <li>Role - <span>Frontend</span></li>
                                <li>View - <span><a href="#">www.domain.com</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>