<section class="work section" id="portfolio">
    <h2 class="section__title">Recent Works</h2><span class="section__subtitle">My Portfolio</span>
    <!-- card  -->
    <!-- <div class="work__filters"><span class="work__item active-work">Angular</span><span
            class="work__item">React/Nextjs</span><span class="work__item">WEB3.0</span><span
            class="work__item">Design</span></div> -->
    <!-- card  -->
            <div class="work__container container grid">
        <!-- card  -->
        <div class="work__card" style="opacity: 1; transform: none;"><img
                src="../../../assets/Pictures/DeWatermark.ai_1725739156930-removebg-preview.png" alt=""
                class="work__img">
            <h3 class="work__title">The Cloud City Metaverse</h3><span class="work__button">Demo<i
                    class="work__button-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="currentColor">
                        <path
                            d="M17.92,11.62a1,1,0,0,0-.21-.33l-5-5a1,1,0,0,0-1.42,1.42L14.59,11H7a1,1,0,0,0,0,2h7.59l-3.3,3.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l5-5a1,1,0,0,0,.21-.33A1,1,0,0,0,17.92,11.62Z">
                        </path>
                    </svg></i></span>
            <div class="portfolio__item-details" style="transform: none; transform-origin: 50% 50% 0px;">
                <h3 class="details__title"></h3>
                <p class="details__description">Cloud City Metaverse involves all the upcoming updates and events of our
                    metaverse, it also includes details of all the team members whom have been a part of Cloud City
                    Metaverse.</p>
                <ul class="details__info">
                    <li>Created - <span>4 dec 2020</span></li>
                    <li>Technologies - <span>HTML Css</span></li>
                    <li>Role - <span>Frontend</span></li>
                    <li>View - <span><a href="#">www.domain.com</a></span></li>
                </ul>
            </div>
        </div>
        <!-- card  -->
        <div class="work__card" style="opacity: 1; transform: none; transform-origin: 50% 50% 0px;"><img
                src="../../../assets/Pictures/DeWatermark.ai_1725739156930-removebg-preview.png" alt=""
                class="work__img">
            <h3 class="work__title">BFK Warzone</h3><span class="work__button">Demo<i class="work__button-icon"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="currentColor">
                        <path
                            d="M17.92,11.62a1,1,0,0,0-.21-.33l-5-5a1,1,0,0,0-1.42,1.42L14.59,11H7a1,1,0,0,0,0,2h7.59l-3.3,3.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l5-5a1,1,0,0,0,.21-.33A1,1,0,0,0,17.92,11.62Z">
                        </path>
                    </svg></i></span>
            <div class="portfolio__item-details" style="transform: none; transform-origin: 50% 50% 0px;">
                <h3 class="details__title"></h3>
                <p class="details__description">Decentralized marketplace for the assets purchasing, selling and bidding
                    of the BFK Warzone, BFK is a single player game like META SLUG with Web3.0 integrated assets.</p>
                <ul class="details__info">
                    <li>Created - <span>4 dec 2020</span></li>
                    <li>Technologies - <span>HTML Css</span></li>
                    <li>Role - <span>Frontend</span></li>
                    <li>View - <span><a href="#">www.domain.com</a></span></li>
                </ul>
            </div>
        </div>
        <!-- card  -->
        <div class="work__card" style="opacity: 1; transform: none; transform-origin: 50% 50% 0px;"><img
                src="../../../assets/Pictures/DeWatermark.ai_1725739156930-removebg-preview.png" alt=""
                class="work__img">
            <h3 class="work__title">TEAM HRM</h3><span class="work__button">Demo<i class="work__button-icon"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="currentColor">
                        <path
                            d="M17.92,11.62a1,1,0,0,0-.21-.33l-5-5a1,1,0,0,0-1.42,1.42L14.59,11H7a1,1,0,0,0,0,2h7.59l-3.3,3.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l5-5a1,1,0,0,0,.21-.33A1,1,0,0,0,17.92,11.62Z">
                        </path>
                    </svg></i></span>
            <div class="portfolio__item-details" style="transform: none; transform-origin: 50% 50% 0px;">
                <h3 class="details__title"></h3>
                <p class="details__description">TEAM HRM is a complete automated CRMS for HRs, it involves complete
                    automation of employee’s payroll, travel and education management.</p>
                <ul class="details__info">
                    <li>Created - <span>4 dec 2020</span></li>
                    <li>Technologies - <span>HTML Css</span></li>
                    <li>Role - <span>Frontend</span></li>
                    <li>View - <span><a href="#">www.domain.com</a></span></li>
                </ul>
            </div>
        </div>
        <!-- card  -->
        <div class="work__card" style="opacity: 1; transform: none; transform-origin: 50% 50% 0px;"><img
                src="../../../assets/Pictures/DeWatermark.ai_1725739156930-removebg-preview.png" alt=""
                class="work__img">
            <h3 class="work__title">Reconnect</h3><span class="work__button">Demo<i class="work__button-icon"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="currentColor">
                        <path
                            d="M17.92,11.62a1,1,0,0,0-.21-.33l-5-5a1,1,0,0,0-1.42,1.42L14.59,11H7a1,1,0,0,0,0,2h7.59l-3.3,3.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l5-5a1,1,0,0,0,.21-.33A1,1,0,0,0,17.92,11.62Z">
                        </path>
                    </svg></i></span>
            <div class="portfolio__item-details" style="transform: none; transform-origin: 50% 50% 0px;">
                <h3 class="details__title"></h3>
                <p class="details__description">Reconnect is a multi role enclosed network for the real estate, it
                    enables a user to complete the process of buying a property. reconnect.</p>
                <ul class="details__info">
                    <li>Created - <span>4 dec 2020</span></li>
                    <li>Technologies - <span>HTML Css</span></li>
                    <li>Role - <span>Frontend</span></li>
                    <li>View - <span><a href="#">www.domain.com</a></span></li>
                </ul>
            </div>
        </div>
        <!-- card  -->
        <div class="work__card" style="opacity: 1; transform: none; transform-origin: 50% 50% 0px;"><img
                src="../../../assets/Pictures/DeWatermark.ai_1725739156930-removebg-preview.png" alt=""
                class="work__img">
            <h3 class="work__title">My Tutor Source</h3><span class="work__button">Demo<i class="work__button-icon"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="currentColor">
                        <path
                            d="M17.92,11.62a1,1,0,0,0-.21-.33l-5-5a1,1,0,0,0-1.42,1.42L14.59,11H7a1,1,0,0,0,0,2h7.59l-3.3,3.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l5-5a1,1,0,0,0,.21-.33A1,1,0,0,0,17.92,11.62Z">
                        </path>
                    </svg></i></span>
            <div class="portfolio__item-details" style="transform: none; transform-origin: 50% 50% 0px;">
                <h3 class="details__title"></h3>
                <p class="details__description">MTS is an online tutoring service, where parents along with the students
                    can schedule classes with their favouriteteacher, students can chat with the teachers and admins
                    under parental hood.</p>
                <ul class="details__info">
                    <li>Created - <span>4 dec 2020</span></li>
                    <li>Technologies - <span>HTML Css</span></li>
                    <li>Role - <span>Frontend</span></li>
                    <li>View - <span><a href="#">www.domain.com</a></span></li>
                </ul>
            </div>
        </div>
        <!-- card  -->
        <div class="work__card" style="opacity: 1; transform: none; transform-origin: 50% 50% 0px;"><img
                src="../../../assets/Pictures/DeWatermark.ai_1725739156930-removebg-preview.png" alt=""
                class="work__img">
            <h3 class="work__title">Yadgaar</h3><span class="work__button">Demo<i class="work__button-icon"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="currentColor">
                        <path
                            d="M17.92,11.62a1,1,0,0,0-.21-.33l-5-5a1,1,0,0,0-1.42,1.42L14.59,11H7a1,1,0,0,0,0,2h7.59l-3.3,3.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l5-5a1,1,0,0,0,.21-.33A1,1,0,0,0,17.92,11.62Z">
                        </path>
                    </svg></i></span>
            <div class="portfolio__item-details" style="transform: none; transform-origin: 50% 50% 0px;">
                <h3 class="details__title"></h3>
                <p class="details__description">Yadgaar is a food ordering web application with stripe integrated
                    payments processing, it also involves the complete automation for the restaurant.</p>
                <ul class="details__info">
                    <li>Created - <span>4 dec 2020</span></li>
                    <li>Technologies - <span>HTML Css</span></li>
                    <li>Role - <span>Frontend</span></li>
                    <li>View - <span><a href="#">www.domain.com</a></span></li>
                </ul>
            </div>
        </div>
    </div>
</section>