<section class="testimonial container section" id="testimonial">
    <h2 class="section__title">My clients/Seniors say</h2>
    <span class="section__subtitle">Testimonial</span>
    <div class="testimonial__container">
        <div class="testimonial__cards">
            <div class="testimonial__card">
                <img src="../../../assets/testimonials/shoaib.png" alt="" class="testimonial__img">
                <h3 class="testimonial__name">Muhammad Shoaib Khan</h3><span style="font-size: 12px;">(Senior Fullstack Developer)</span>
                <p class="testimonial__description">A highly skilled frontend developer who transforms ideas into reality with clean and efficient code. Zeeshan never misses a deadline and always exceeds expectations!</p>
            </div>
            <div class="testimonial__card">
                <img src="../../../assets/testimonials/usama.png" alt="" class="testimonial__img">
                <h3 class="testimonial__name">Usama Iqbal</h3><span style="font-size: 12px;">(Senior Fullstack Developer)</span>
                <p class="testimonial__description">Zeeshan is not just a developer, he's a problem solver. His expertise in .NET Fullstack development made our project seamless from start to finish. Highly recommended!</p>
            </div>
            <div class="testimonial__card">
                <img src="../../../assets/testimonials/saqlain.png" alt="" class="testimonial__img">
                <h3 class="testimonial__name">Muhammad Saqlain Abbas</h3><span style="font-size: 12px;">(Project Manager / Team Lead)</span>
                <p class="testimonial__description">Working with Zeeshan was a game changer! His attention to detail and innovative thinking set him apart from the rest. He truly brought our vision to life.</p>
            </div>
            <div class="testimonial__card">
                <img src="../../../assets/testimonials/talha.png" alt="" class="testimonial__img">
                <h3 class="testimonial__name">Talha Tahir</h3><span style="font-size: 12px;">(Senior Frontend Developer)</span>
                <p class="testimonial__description">Zeeshan's ability to combine creativity with technical prowess is truly impressive. He takes the time to understand requirements and delivers high-quality solutions that fit perfectly with our needs.</p>
            </div>            
            <div class="testimonial__card">
                <img src="../../../assets/testimonials/user.png" alt="" class="testimonial__img">
                <h3 class="testimonial__name">Ahmad Sharif</h3><span style="font-size: 12px;">(Senior Fullstack/Architect Developer)</span>
                <p class="testimonial__description">From frontend finesse to backend brilliance, Zeeshan has the perfect balance. He handles complexity with ease and ensures top-quality results every time.</p>
            </div>
            <div class="testimonial__card">
                <img src="../../../assets/testimonials/user.png" alt="" class="testimonial__img">
                <h3 class="testimonial__name">Lorenzo Appolioner</h3><span style="font-size: 12px;">(US Client)</span>
                <p class="testimonial__description">Zeeshan's frontend designs are nothing short of amazing! His work is sleek, modern, and responsive, elevating our user experience to a whole new level.</p>
            </div>
            <div class="testimonial__card">
                <img src="../../../assets/testimonials/user.png" alt="" class="testimonial__img">
                <h3 class="testimonial__name">Marck</h3><span style="font-size: 12px;">(US Client)</span>
                <p class="testimonial__description">It's rare to find someone who understands both frontend and backend development so well. Zeeshan is that rare gem who can handle the Fullstack effortlessly.</p>
            </div>
            <div class="testimonial__card">
                <img src="../../../assets/testimonials/user.png" alt="" class="testimonial__img">
                <h3 class="testimonial__name">Muhammad Adeel Faryad</h3><span style="font-size: 12px;">(Senior Fullstack Developer)</span>
                <p class="testimonial__description">Collaborating with Zeeshan was a pleasure. His professionalism, communication skills, and technical expertise made the entire process smooth and successful.</p>
            </div>
        </div>
    </div>
</section>
