<section class="testimonial container section" id="testimonial">
    <h2 class="section__title">My clients say</h2>
    <span class="section__subtitle">Testimonial</span>
    <div class="testimonial__container">
        <div class="testimonial__cards">
            <div class="testimonial__card">
                <img src="https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto,t_profile_small/v1/attachments/profile/photo/72527b39daf6396b53bc814f644b0867-1640744053680/9bd4958e-34a6-4226-8afd-294292f9ada0.jpg"
                     alt="" class="testimonial__img">
                <h3 class="testimonial__name">Yasmine Benhalim</h3>
                <p class="testimonial__description">Awesome Job! Was willing to work with me to get the website working
                    correctly and never once complained!</p>
            </div>
            <div class="testimonial__card">
                <img src="https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto,t_profile_small/v1/attachments/profile/photo/849e4aa7d65dd0d5a28f57e2cef620fa-1617916899529/3b6ac4cd-260f-4863-bef2-3bb3cf003ce7.png"
                     alt="" class="testimonial__img">
                <h3 class="testimonial__name">Pulava</h3>
                <p class="testimonial__description">Haseeb was a pleasure to work with! He's an excellent communicator
                    and is available around the clock for answers.</p>
            </div>
            <div class="testimonial__card">
                <img src="/assets/fadi.png" alt="" class="testimonial__img">
                <h3 class="testimonial__name">Fadi Sofi</h3>
                <p class="testimonial__description">A really good job, all aspects of the project were followed step by
                    step and with good results.</p>
            </div>
            <div class="testimonial__card">
                <img src="/assets/fadi.png" alt="" class="testimonial__img">
                <h3 class="testimonial__name">Fadi Sofi</h3>
                <p class="testimonial__description">A really good job, all aspects of the project were followed step by
                    step and with good results.</p>
            </div>
            <div class="testimonial__card">
                <img src="/assets/fadi.png" alt="" class="testimonial__img">
                <h3 class="testimonial__name">Fadi Sofi</h3>
                <p class="testimonial__description">A really good job, all aspects of the project were followed step by
                    step and with good results.</p>
            </div>
            <div class="testimonial__card">
                <img src="/assets/fadi.png" alt="" class="testimonial__img">
                <h3 class="testimonial__name">Fadi Sofi</h3>
                <p class="testimonial__description">A really good job, all aspects of the project were followed step by
                    step and with good results.</p>
            </div>
            <!-- Add more testimonial cards as needed -->
        </div>
    </div>
</section>
